<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sum</title>
    <link rel="stylesheet
  </head>
  <body>
    <h1>Sum</h1>
    <% var sum = x + y + w + z%>
    <% var color = (sum%2) ? 'red' : 'blue'%>
    <h2 style="font-size: <%=fontsize %>; border:<%=border%> solid <%=color%>;">
     <%=x %>+ <%= y %> + <%= w %> + <%= z %> 
     <span style="color:<%= color %>;">=<%= sum %></span>
    </h2>
  </body>
</html>

